*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: rgb(40, 40, 40);
  height: 100vh;
  overflow: hidden;
  display: flex;
}
img{
  width: 30%;
}
.wrapper{
  background-color: white;
  width: 600px;
  height: 350px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

}
h1{
  font-size: 40px;
  font-weight: 600;
  color: rgb(69, 69, 69);
  margin: 40px 0px;
}
button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: rgb(69, 69, 69);
  border-radius: 5px;
  border: 1px solid rgb(69, 69, 69);
  margin-top: 30px;
}
a{
  margin-top: 20px;
}

.result-container a {
  margin-right: 10px;
  text-decoration: none;
  color: #444544;
  font-size: 16px;
  border: 1px solid #4f4f4f;
  padding: 5px 10px;
  border-radius: 5px;
}

.result-container a:hover {
  background-color: #f1f1f1;
}
